:root {
  --bg: #fdf0cd;
  --text: #3c3c3cee;
  --yellow: #fad44a;
  --red: #eb6666;
  --green: #6fae89;
  --blue: #777cf3;
}

@font-face {
  font-family: "PP Editorial";
  src: url("fonts/PPEditorialOld-UltralightItalic.otf");
  font-weight: 300;
  font-style: italic;
}
@font-face {
  font-family: "PP Editorial";
  src: url("fonts/PPEditorialOld-Regular.otf");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "PP Editorial";
  src: url("fonts/PPEditorialOld-Italic.otf");
  font-weight: normal;
  font-style: italic;
}

.space-mono-regular {
  font-family: "Space Mono", monospace;
  font-weight: 400;
  font-style: normal;
}

.space-mono-bold {
  font-family: "Space Mono", monospace;
  font-weight: 700;
  font-style: normal;
}

.space-mono-regular-italic {
  font-family: "Space Mono", monospace;
  font-weight: 400;
  font-style: italic;
}

.space-mono-bold-italic {
  font-family: "Space Mono", monospace;
  font-weight: 700;
  font-style: italic;
}

body {
  height: 100vh;
  margin: 0;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: 3em;

  background-color: var(--bg);
  /* font-family: "Satoshi", sans-serif; */
  font-family: "PP Editorial", Georgia, "Times New Roman", Times, serif;
  margin: 0 10em;
}

h2 {
  font-size: 32px;
}

p {
  font-size: 20px;
}

a {
  color: #4b4b4b;
  text-decoration: none;
}

a:hover {
  color: #6a6e32;
  text-decoration: underline;
  text-underline-offset: 3px;
  cursor: pointer;
}

.nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.menu {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  gap: 3em;
  font-style: italic;
}

path {
  fill: transparent;
}

text {
  fill: #000000;
}

.temperature-conditions {
  padding-top: 100px;
  font-family: "PP Editorial", Georgia, "Times New Roman", Times, serif;
  font-weight: 300;
  font-style: italic;
  font-size: 75px;
  display: flex;
  flex-direction: column;
  /* place-items: center; */
  place-items: center start;
  align-content: start;
  align-items: first baseline;
  position: absolute;
}

.temperature {
  font-family: "PP Editorial", Georgia, "Times New Roman", Times, serif;
  font-size: 80px;
  display: flex;
  flex-direction: column;
  font-weight: 300;
  font-style: italic;
  /* place-items: center; */
  place-items: center start;
  align-content: start;
  align-items: first baseline;
  position: absolute;
}

.text-container {
  width: 500px;
  height: 10px;
}

.search {
  position: absolute;
  top: 400px;
  display: flex;
  /* padding-left: 25px; */
  justify-content: space-around;
  /* align-items: center; */
  place-items: center;
  margin: 0 auto;
  width: 250px;
  height: 100px;
  background-color: white;
  border-radius: 25px;
  border: none;
  box-shadow: inset gray 0px 1px 10px 1px;
}

.search-input {
  /* font-family: "Satoshi", sans-serif; */
  font-family: "Space Mono", monospace;
  color: black;
  font-size: 50px;
  width: 200px;
  height: 50px;
  border: none;
  position: absolute;
  top: 20px;
  left: 20px;
}

.search-input::placeholder {
  color: black;
}

.search-input:focus {
  border: 0;
  outline: none;
}

.search-btn {
  font-family: "Space Mono", monospace;
  letter-spacing: 1px;
  transform: rotate(-90deg);
  padding: 7px 10px;
  position: absolute;
  top: 30px;
  right: -10px;
  border-radius: 15px;
  border: none;
  background-color: white;
  box-shadow: inset gray 0px 0px 5px -1px;
  filter: drop-shadow(0 0 0.75rem gray);
}

.blob-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: -2;
  height: 1000px;
  width: 500px;
  position: relative;
  right: 5em;
}

.blob {
  border-radius: 100px;
  filter: blur(60px);
}

.yellow {
  background-color: var(--red);
  position: absolute;
  top: 200px;
  left: 50px;
  height: 300px;
  width: 300px;
  z-index: -2;
  /* animation: name duration timing-function delay iteration-count direction fill-mode; */
  animation: yellow 8s infinite ease;
}

.blue {
  background-color: var(--blue);
  position: absolute;
  top: 80px;
  right: -20px;
  height: 250px;
  width: 250px;
  z-index: -3;

  /* animation: name duration timing-function delay iteration-count direction fill-mode; */
  animation: blue 15s infinite ease;
}

.red {
  background-color: var(--yellow);
  position: absolute;
  right: 0;
  top: 300px;
  height: 250px;
  width: 250px;
  /* animation: name duration timing-function delay iteration-count direction fill-mode; */
  animation: red 12s infinite ease;
}

.green {
  background-color: var(--green);
  position: absolute;
  right: 0;
  top: 300px;
  height: 300px;
  width: 300px;

  animation: green 10s infinite linear;
}

@keyframes green {
  0% {
    top: 300px;
    left: 100px;
    transform: scale(1.3);
  }
  30% {
    top: 300px;
    left: -100px;
    transform: scale(1.2);
  }
  65% {
    top: 100px;
    left: 200px;
    transform: scale(1.4);
  }
  100% {
    top: 300px;
    left: 100px;
    transform: scale(1.3);
  }
}

@keyframes yellow {
  0% {
    top: 200px;
    left: 50px;
    transform: scale(1.3);
  }
  30% {
    top: 300px;
    left: 150px;
    transform: scale(1.2);
  }
  65% {
    top: 100px;
    left: 250px;
    transform: scale(1.4);
  }
  100% {
    top: 200px;
    left: 50px;
    transform: scale(1.3);
  }
}

@keyframes blue {
  0% {
    top: 0px;
    left: 100px;
    transform: scale(1);
  }
  30% {
    top: -50px;
    left: 250px;
    transform: scale(1.3);
  }
  65% {
    top: 200px;
    left: 350px;
    transform: scale(1.4);
  }
  100% {
    top: 0px;
    left: 100px;
    transform: scale(1);
  }
}

@keyframes red {
  0% {
    top: 250px;
    left: 0px;
    transform: scale(1);
  }
  30% {
    top: 150px;
    left: 150px;
    transform: scale(1.4);
  }
  65% {
    top: 250px;
    left: 300px;
    transform: scale(1.4);
  }
  100% {
    top: 250px;
    left: 0px;
    transform: scale(1);
  }
}

@media only screen and (max-width: 600px) {
  .text-container {
    height: 200px;
    width: 100vw;
    /* height: 100px; */
  }
  body {
    overflow-x: hidden;
    height: 100%;
    width: 100%;
  }
}
